
name: Publish to npmjs
on:
  release:
    types: [created]
permissions:
  id-token: write
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
      - uses: szenius/set-timezone@v1.0
        with:
          timezoneLinux: "Europe/Oslo"
      - run: npm ci
      - run: 'npm run test'
      - run: npm publish --tag beta --provenance
